@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width:1020px) { 
    .carousel-caption {
        position: absolute;
        text-align: center;
        color: #ffff;
    }
}

.color-nav {
    background-color: antiquewhite;
}

.navbar-brand img {
    height: 27px;
}

.card-drones {
    width: 300px;

}

.carousel-caption{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-caption h5{
    font-size: 2.5rem;
    font-weight: bold;
}

.carousel-caption p{
    font-size: 1.2rem;
    font-weight: bold;
}

.cartas{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 2rem;
    margin: 2rem;
}

.container {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body p{
    text-align: justify;
}

.card .btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.card .btn-primary:hover {
    background-color: #343a40;
    border-color: #343a40; 
}

.card .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); 
}

.rowdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    width: 23rem;
}

.colorboton-form {
    display: flex;
    background-color: #282828;
    color: #fff;
    border: #282828;
    margin: 20px;
    justify-content: center;

}

.tamañoboton {
    width: 100px;
}

.margen-abajo {
    margin-bottom: 5rem;
}

.container {
    position: relative;
}

.texto {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.imagensoporte {
    width: 100%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media (min-width: 600px) {
    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
}

.galeria {
    list-style: none;
    padding: 5px 1rem 1rem 1rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 5rem 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.imagen_1 {
    grid-row: 1/2;
    grid-column: 1/3;
}
.imagen_1 img {
    height: 100%;
    width: 100%;
}

.imagen_2 {
    grid-row: 1/2;
    grid-column: 3/4;
}
.imagen_2 img {
    height: 100%;
    width: 100%;
}

.imagen_3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.imagen_3 img {
    height: 100%;
    width: 100%;
}
.imagen_4 {
    grid-row: 2/3;
    grid-column: 2/4;
}

.imagen_4 img {
    height: 100%;
    width: 100%;
}


.p-nosotros{
    text-align: justify ;
    justify-content: center;
    margin: 30px 50px 30px 50px;

}


